install
cdrom
lang en_US.UTF-8
keyboard us
network --onboot yes --device eth0 --bootproto dhcp --noipv6
rootpw --plaintext vagrant
firewall --disabled
authconfig --enableshadow --passalgo=sha512
selinux --permissive
timezone America/New_York
bootloader --location=mbr --driveorder=sda,sdb,sdc --append="crashkernel=auto rhgb quiet vga=791"

text
skipx
zerombr

clearpart --all --initlabel
autopart

firstboot --disabled
reboot

%packages --nobase
@core
%end

%post
/usr/bin/yum -y install sudo
/usr/sbin/groupadd vagrant
/usr/sbin/useradd vagrant -g vagrant -G wheel
echo 'vagrant'|passwd --stdin vagrant
echo 'vagrant        ALL=(ALL)       NOPASSWD: ALL' >> /etc/sudoers.d/vagrant
echo 'Defaults:vagrant !requiretty'                 >> /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant

# Disable IPv6
echo "# Disable IPv6" >> /etc/sysctl.conf
echo "net.ipv6.conf.all.disable_ipv6 = 1" >> /etc/sysctl.conf

# Fix programs after disabling IPv6
/usr/sbin/postconf -e "inet_protocols=ipv4"
echo ""  >> /etc/ssh/sshd_config
echo "AddressFamily inet" >> /etc/ssh/sshd_config
%end
